
name: AutoSec-Fix Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  security-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install tools
        run: |
          pip install bandit pip-audit pyyaml

      - name: Run Bandit
        run: python scanners/bandit_scan.py

      - name: Run Dependency Scan
        run: python scanners/dependency_scan.py

      - name: Generate Fix Suggestions
        run: python auto_fixer/fix_engine.py
